<!DOCTYPE html>
<html>

<head>
    <title>Playback Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .container {
            width: 50%;
            margin: auto;
            padding: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Play and Download Song</h1>
        <audio id="audioPlayer" controls></audio>
        <button id="playButton">Play</button>
        <a id="downloadLink" href="#" download>Download</a>
    </div>
    <script src="playndownload.js"></script>
</body>

</html>