<!DOCTYPE html>
<html>

<head>
    <title>Upload Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .container {
            width: 50%;
            margin: auto;
            padding: 20px;
        }
    </style>
</head>

<body>
    <h1>Upload a Song</h1>
    <form action="/upload_song" method="post" enctype="multipart/form-data">

        <label for="song">Song File:</label>
        <input type="file" id="song" name="song" required><br>

        <label for="uploader_name">Uploader Name:</label>
        <input type="text" id="uploader_name" name="uploader_name" required><br>

        <label for="name">Song Name:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="bpm">BPM:</label>
        <input type="number" id="bpm" name="bpm" required><br>

        <label for="description">Description:</label>
        <textarea id="description" name="description" required></textarea><br>

        <label for="genre">Genre:</label>
        <input type="text" id="genre" name="genre" required><br>

        <input type="submit" value="Upload">
        <script src="upload.js"></script>
</body>

</html>